<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Job Application Tracker</title>
</head>
<body>
    <div class="header">
        <h1>Job Application Tracker</h1>
    </div>
    <div class="main">
        <div class="apps">
            <h2>Applications</h2><br>
        
        </div>
        <div class="schedule">
            <h2>Calendar</h2>
            <div> {{ calendar_template }} </div>
        </div>
    </div>
</body>
</html>