<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Job Application Tracker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
    <div class="header">
        <h1>Job Application Tracker</h1>
    </div>
    <div class="main">
        <div class="apps">
            <h2>Applications</h2><br>
            <form action="/add_job" method="post">
                <label for="company_name">Company name:</label>
                <input type="text" id="company_name" name="company_name"><br><br>

                <label for="position">Position:</label>
                <input type="text" id="position" name="position"><br><br>

                <label for="date_of_apply">Date of apply:</label>
                <input type="text" name="date_of_apply"><br><br>

                <label for="site">Site:</label>
                <input type="text" id="site" name="site"><br><br>
                
                <label for="status">status:</label>
                <input type="text" id="status" name="status"><br><br>
                
                <label for="cv_version">cv_version:</label>
                <input type="text" id="cv_version" name="cv_version"><br><br>
                
                <label for="mode">mode:</label>
                <input type="text" id="mode" name="mode"><br><br>
                
                <label for="contract_type">contract_type:</label>
                <input type="text" id="contract_type" name="contract_type"><br><br>
                
                <label for="job_type">job_type:</label>
                <input type="text" id="job_type" name="job_type"><br><br>

                <input type="submit" value="Add Job Listing">
            </form>

            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-heartbreak-fill"></i> <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        </div>
        <div class="schedule">
            <div class="calendar-container">

                

                <header class="calendar-header">
                    <p class="calendar-current-date"></p>
                    <div class="calendar-navigation">
                        <span id="calendar-prev"
                            class="material-symbols-rounded">
                            chevron_left
                        </span>
                        <span id="calendar-next"
                            class="material-symbols-rounded">
                            chevron_right
                        </span>
                    </div>
                </header>
 
                <div class="calendar-body">
                    <ul class="calendar-weekdays">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="calendar-dates"></ul>
                </div>
                <script src="{{ url_for('static',filename='js/calendar.js') }}"></script>
            </div>

        </div>
    </div>
</body>
</html>