/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* Table container styling */
.table-container {
  margin-top: 3rem;
  height: 30rem; /* Set your preferred fixed height */
  overflow-y: auto;
}

/* Basic table styling */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333333;
}

thead {
  display: table;
}

tbody {
  display: block;
  max-height: 23rem; /* Adjust the height according to your needs */
  overflow-y: auto;
}

tbody::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Customize scrollbar */
tbody::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.calendarDialogue{
  border-radius: 10px;
}

.calendar-container {
  margin: 0 auto;
  width: 25rem;
  border-radius: 10px;
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendar-navigation {
  display: flex;
}

header .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}

header .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates a {
  padding: 10px; /* dostosuj wartość paddingu według potrzeb */
  display: inline-block; /* upewnia się, że padding działa na wszystkie strony */
  text-decoration: none; /* usuwa domyślne podkreślenie linku */
}

.calendar-dates li.active::before {
  background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}
.hidden{
  display: none;
}
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}